.highlights{
    width: 100%;
    padding: 20px;
    background-color: #414141; /* THEME 2 */
    background-color: #352F44; /* THEME 1 */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.highlights .title{
    width: fit-content;
    padding-bottom: 10px;
    font-family: var(--font-heading);
}
.highlights h3{
    font-family: var(--font-heading);
}
.top{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.top .air-quality{
    width: 48%;
    height: 200px;
    border-radius: 25px;
    background-color: #525252; /* THEME 2 */
    background-color: #5C5470; /* THEME 1 */
}

.top .air-quality{
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top .air-quality .aqi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .air-quality .aqi button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 20px;
    font-family: var(--font-subheading);
    font-weight: 600;
}

.top .air-quality .gas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .air-quality .gas .gas-value{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:50px;
}
.top .air-quality .gas .gas-value p{
    font-size: 26px;
    font-family: var(--font-body);
}
.top .air-quality .gas .gas-value h4{
    font-size: 14px;
    font-family: var(--font-subheading);
}


.top .sun-times{
    width: 48%;
    height: 200px;
    border-radius: 20px;
    background-color: #525252; /* THEME 2 */
    background-color: #5C5470; /* THEME 1 */
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top .sun-times .rise-set{
    display: flex;
    justify-content: space-between;
}

.top .sun-times .rise{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47%;
}

.top .sun-times .rise .rise-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top .sun-times .set{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47%;
}

.top .sun-times .set .set-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top .sun-times .rise p,
.top .sun-times .set p{
    font-size: 26px;
    font-family: var(--font-body);
}
.top .sun-times .rise h4,
.top .sun-times .set h4{
    font-size: 14px;
    font-family: var(--font-subheading);
}

.bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.bottom .left .humidity{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bottom .left .humidity .humidity-data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom .left .pressure{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bottom .left .pressure .pressure-data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom .left,
.bottom .right{
    display: flex;
    gap: 20px;
    width: 48%;
    height: 100px;
}


.bottom .left div,
.bottom .right div{
    width: 100%;
    border-radius: 20px;
    background-color: #525252; /* THEME 2 */
    background-color: #5C5470; /* THEME 1 */
}

.bottom .right .visibility{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.bottom .right .visibility .visibility-data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bottom .right .feels-like{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bottom .right .feels-like .feels-like-data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom .left .humidity p,
.bottom .left .pressure p,
.bottom .right .visibility p,
.bottom .right .feels-like p{
    font-size: 26px;
    font-family: var(--font-body);
}
.bottom .left .humidity h3,
.bottom .left .pressure h3,
.bottom .right .visibility h3,
.bottom .right .feels-like h3{
    padding-left: 20px;
    padding-top: 5px;
}



/* Laptops and small desktop screens (1025px to 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
    .top{
        flex-direction: column;
        row-gap: 10px;
        flex: 1;
    }
    
    .top .air-quality{
        width: 100%;
    }

    .top .air-quality .gas{
        justify-content: space-evenly;
    }
    
    .top .sun-times{
        width: 100%;
    }
    
    .top .sun-times .rise{
        justify-content: space-evenly;
        width: 44%;
    }
     
    .top .sun-times .set{
        justify-content: space-evenly;
        width: 44%;
    }
}

/* Tablets (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .top{
        flex-direction: column;
        row-gap: 10px;
        flex: 1;
    }
    
    .top .air-quality{
        width: 100%;
    }

    .top .air-quality .gas{
        justify-content: space-evenly;
    }
    
    .top .sun-times{
        width: 100%;
    }
    
    .top .sun-times .rise{
        justify-content: space-evenly;
        width: 44%;
    }
     
    .top .sun-times .set{
        justify-content: space-evenly;
        width: 44%;
    }

    /* ------------------------------- */
    
    .bottom{
        flex-direction: column;
        row-gap: 10px;
    }

    
    .bottom .left .humidity .humidity-data{
        width: 100%;
    }
    
    
    .bottom .left .pressure .pressure-data{
        width: 100%;
    }
    
    .bottom .left,
    .bottom .right{
        width: 100%;
    }
    
    .bottom .left{
        justify-content: space-between;
    }
    
    .bottom .left div{
        width: 45%;
    }

    .bottom .right div{
        width: 45%;
    }
    
    .bottom .right{
        justify-content: space-between;
    }
    
    
    .bottom .right .visibility .visibility-data{
        width: 100%;
    }

    .bottom .right .feels-like .feels-like-data{
        width: 100%;
    }
    
}

/* Mobile devices (up to 767px) */
@media (max-width: 767px) {

    .highlights{
        justify-content: flex-start;
        margin-bottom: 30px;
    }


    .top{
        flex-direction: column;
        row-gap: 10px;
    }
    
    .top .air-quality{
        width: 100%;
        height: 250px;
    }

    .top .air-quality .gas{
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .top .air-quality .gas img{
        display: none; /* ICON DISPALY NONE IN MOBILE VERSION */
    }

    .top .air-quality .gas .gas-value{
        width: 50%;
    }
    
    .top .sun-times{
        width: 100%;
    }

    .top .sun-times .sun-title{
        padding-top: 5px;
    }
    
    .top .sun-times .rise-set{
        flex-direction: column;
        row-gap: 0px;
    }
    
    .top .sun-times .rise{
        justify-content: space-around;
        width: 100%;
    }
     
    .top .sun-times .set{
        justify-content: space-around;
        width: 100%;
    }

    /* ------------------------------- */
    
    .bottom{
        flex-direction: column;
        row-gap: 0px; /*  */
    }

    .bottom .left,
    .bottom .right{
        width: 100%;
    }

    .bottom .left,
    .bottom .right{
        height: 40%;
        flex-direction: column;
    }
    
    .bottom .left .humidity{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .bottom .left .humidity .humidity-data{
        justify-content: space-around;
    }
    
    .bottom .left .pressure{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .bottom .left .pressure .pressure-data{
        justify-content: space-around;
    }
    
    
    .bottom .left{
        gap: 0px;
        justify-content: space-between;
    }
    
    
    .bottom .right{
        gap: 0px;
        justify-content: space-between;
    }

    .bottom .right .visibility{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .bottom .right .visibility .visibility-data{
        justify-content: space-around;
    }

    .bottom .right .feels-like{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .bottom .right .feels-like .feels-like-data{
        justify-content: space-around;
    }
}