.highlights{
    width: 100%;
    padding: 20px;
    background-color: red;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.highlights .title{
    padding-bottom: 10px;
    font-family: var(--font-heading);
}
.highlights h3{
    font-family: var(--font-heading);
}
.top{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.top .air-quality{
    width: 45%;
    height: 200px;
    border-radius: 25px;
    background-color: gray;
}

.top .air-quality{
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top .air-quality .aqi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .air-quality .aqi button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 20px;
    font-family: var(--font-subheading);
    font-weight: 600;
}

.top .air-quality .gas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .air-quality .gas .gas-value{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:50px;
}
.top .air-quality .gas .gas-value p{
    font-size: 26px;
    font-family: var(--font-body);
}
.top .air-quality .gas .gas-value h4{
    font-size: 14px;
    font-family: var(--font-subheading);
}


.top .sun-times{
    width: 45%;
    height: 200px;
    border-radius: 20px;
    background-color: gray;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top .sun-times .rise-set{
    display: flex;
    justify-content: space-between;
}

.top .sun-times .rise{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 44%;
}

.top .sun-times .rise .rise-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top .sun-times .set{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 44%;
}

.top .sun-times .set .set-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top .sun-times .rise p,
.top .sun-times .set p{
    font-size: 26px;
    font-family: var(--font-body);
}
.top .sun-times .rise h4,
.top .sun-times .set h4{
    font-size: 14px;
    font-family: var(--font-subheading);
}

.bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.bottom .left .humidity{
    /* padding: 0 20px 0 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bottom .left .humidity .humidity-data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom .left .pressure{
    /* padding: 0 20px 0 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bottom .left .pressure .pressure-data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom .left,
.bottom .right{
    width: 45%;
    height: 100px;
}

.bottom .left{
    display: flex;
    gap: 20px;
}

.bottom .left div{
    width: 100%;
    border-radius: 20px;
    background-color: pink;
}

.bottom .right{
    display: flex;
    gap: 20px;
}

.bottom .right .visibility{
    /* padding: 0 20px 0 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bottom .right .visibility .visibility-data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bottom .right .feels-like{
    /* padding: 0 20px 0 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bottom .right .feels-like .feels-like-data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.bottom .right div{
    width: 100%;
    border-radius: 20px;
    background-color: pink;
}

.bottom .left .humidity p,
.bottom .left .pressure p,
.bottom .right .visibility p,
.bottom .right .feels-like p{
    font-size: 26px;
    font-family: var(--font-body);
}
.bottom .left .humidity h3,
.bottom .left .pressure h3,
.bottom .right .visibility h3,
.bottom .right .feels-like h3{
    padding-left: 20px;
    padding-top: 5px;
}