.dayforecast{
    width: 100%;
    /* height: 350px; */
    height: 54%;
    border-radius: 25px;
    background-color: gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dayforecast h3{
    width: fit-content;
    font-family: var(--font-heading);
}
.dayforecast .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dayforecast .row .icon{
    display: flex;
    align-items: center;
    column-gap: 7px;
    width: 25%;
}

.dayforecast .row .temp{
    width: 25%;
}
.dayforecast .row .temp p{
    font-family: var(--font-subheading);
}

.dayforecast .row .date{
    width: 20%;
}

.dayforecast .row .week{
    width: 15%;
}

.dayforecast .row .date p,
.dayforecast .row .week p{
    font-family: var(--font-body);
}