nav{
    padding: 10px 20px 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightcoral;
}

.title img{
    width: 200px;
}

.search-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    padding: 8px 0 8px 0;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    background-color: white;
}

.search-bar input{
    width: 85%;
    border: none;
    outline: none;
}

.location-btn{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.location-btn button{
    width: 80%;
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 8px 0 8px 0;
    font-size: 15px;
    text-align: start;
    cursor: pointer;
}